<div class="row">
  <div class="col-md-6">
    <h1>ngFor*</h1>
    <hr>
    <button type="button" class="btn btn-outline-primary btn-block"
      (click) = "mostrar = !mostrar">
      Mostrar/Ocultar cita
    </button>
    <br>
    <blockquote *ngIf="mostrar" class="blockquote p-3 mb-2 bg-primary text-white bg-primary text-center">
      <p class="mb-0">{{frase.mensaje}}</p>
      <footer class="blockquote-footer text-white">{{frase.autor}}</footer>
    </blockquote>

  </div>

  <div class="col-md-6">
    <h1>ngFor*</h1>
    <hr>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let personaje of personajes; let i = index">{{ i + 1}}. {{personaje}}</li>
    </ul>

  </div>

</div>
